extends /templates/root.pug

//-
	---
	title: "Error 403 — Forbidden"
	blurb: "403: You are not allowed to view the requested resource."
	---

block mainContent
	p.
		Access denied!

	p.
		You made a valid HTTP request, but you’re not allowed to access this
		particular file or directory. Authenticating will make no difference.
		What are you doing, snooping around here anyway? Get outta here, ya
		scamp. Go on, #[em git].

	p
		| Still confused? If everything else seems normal, you could also try 
		| looking for the page you want in the 
		a( href="#search" id="toggle-search-extra" )
			| search bar
		| .

	p
		| If all else fails, I guess something could be broken on my end. 
		a( href = urlFormat( 'mailto:"Niccolo Florence" <' + niccolo.email + '>?subject=Error 403 on CureForNightmares.com&body=** Tell me everything you can about what you were doing when you\nreceived this error message, if it only happens under certain\nconditions, and so on. Thanks.' ))
			| Email me
		|  or 
		a( href="https://gitlab.com/curefornightmares/curefornightmares/issues" )
			| file a bug report
		| , and I’ll figure it out.
