extends /templates/root.pug
//-
	---
	title: "Error 404 — File not found"
	blurb: "404: We couldn’t find the file you’re looking for."
	---

block mainContent
	p
		| The file you seek no longer exists — 
		em or maybe it never existed?? 
		| Whoa.

	p
		| To find what you’re looking for, you must search within. Or you could 
		| try the 
		a( href="#search" id="toggle-search-extra" )
			| search bar
		|  to see if the page just moved somewhere else while you weren’t looking.

	p
		| If you’re seeing this message after clicking a link here on Cure For 
		| Nightmares, then 
		em I
		|  made the mistake, and I’d appreciate you letting me know, either 
		a( href = urlFormat( 'mailto:"Niccolo Florence" <' + niccolo.email + '>?subject=Error 404 on CureForNightmares.com&body=The file at <ENTER THE BROKEN ADDRESS HERE> is missing.\n\nIt was linked from <WHERE I FOUND THE LINK>.' ))
			| by email
		|  or 
		a( href="https://gitlab.com/curefornightmares/curefornightmares/issues" )
			| by filing a bug report
		| .

	//
		Internet Archive script to check if "404" pages appear in the Way
		Back Machine
	div#wb404
	script( src="https://archive.org/web/wb404.js" )
