extends /templates/root.pug

//-
	---
	title: "Error 500 — Internal Server Error"
	blurb: "500: There was an internal server error."
	---

block mainContent
	p
		| This is the generic error message you get when the server is in a bad 
		| mood, and if you don’t already know what’s going on, then it’s not going 
		| to tell you. 
		code &lt;sigh /&gt;

	p
		| Anyway, this should be temporary. Wanna try again? 
		a( id="refresh" )
			| Refresh
		| .

	p
		| If that doesn’t do it, something could be wrong. In which case, I’m 
		| probably (hopefully!) already scrambling to fix it, and you should just 
		| come back later. But if you want to help, you could 
		a( href = urlFormat( 'mailto:"Niccolo Florence" <' + niccolo.email + '>?subject=Error 500 on CureForNightmares.com&body=** Tell me everything you can about what you were doing when you\nreceived this error message, if it only happens under certain\nconditions, and so on. Thanks.' ))
			| email me
		|  or 
		a( href="https://gitlab.com/curefornightmares/curefornightmares/issues" )
			| file a bug report
		|  anyway, just in case I’ve missed something.
