//- Creative Commons Attribution-ShareAlike 4.0 International License
mixin ccNoncommercial
	p
		a(
			href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
			rel="license"
			title="Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License"
		)
			img( src="/icons/cc-by-nc-sa.min.svg" alt="CC-BY-NC-SA" class="creative-commons-mark" ) 

		| “#{currentPage.title}” is published under a 

		a( href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license" ).
			Creative Commons Attribution-NonCommercial-share alike 4.0 International License
		| . Meaning basically that you’re free to copy and share this work —
		| provided you credit us as the source — but not sell it. We are open to
		| the idea of allowing commercial use, though; just ask us first. 
		strong.
			Reposts and remixes of this work should attribute
			#{coauthorsList()}, and link to #{site.domain}

mixin ccShareAlike
	p
		a(
			href="https://creativecommons.org/licenses/by-sa/4.0/"
			rel="license"
			title = "“#{currentPage.title}” is published under a Creative Commons Attribution-ShareAlike 4.0 International License."
		)
			img( src="/icons/cc-by-sa.min.svg" alt="CC-BY-SA" class="creative-commons-mark" )

mixin ccZero
	p
		a(
			href="https://creativecommons.org/publicdomain/zero/1.0/"
			rel="license"
			title="Creative Commons Zero"
		)
			img( src="/icons/cc-zero.min.svg" alt="CC-Zero" class="creative-commons-mark" ) 

		| “#{currentPage.title}” is is dedicated to the 

		a( href="https://creativecommons.org/publicdomain/zero/1.0/" rel="license" ).
			public domain
		| . I waive all rights over this work. Do what you want with it 
		code :)

mixin getLicenseText( story )
	if story.license === "cc-share-alike"
		+ccShareAlike
	else if story.license === "cc-noncommercial"
		+ccNoncommercial
	else if story.license === "cc-zero"
		+ccZero
