//- NOTE: This is the lowest base template that other templates and pages build
//- on top of, and isn't really meant to be compiled by itself.

-
	var mediaDirectory;
	if ( currentPage.mediaHost ) {
		mediaDirectory = currentPage.mediaHost[ defaultHost ];
	}

include /templates/license-mixins.pug

doctype html
html( lang="en-US" )

	head
		meta( charset="utf-8" )
		meta(
			name="viewport"
			content="width=device-width, height=device-height, initial-scale=1"
		)

		title
			if currentPage.title
				| #{currentPage.title} | 
			| Cure For Nightmares
		meta( name="author" content = coauthorsList( currentPage ))
		meta( name="description" content = currentPage.blurb )

		link( rel="stylesheet" href="/styles/cure-for-nightmares.css" )
		noscript
			link( rel="stylesheet" href="/styles/noscript.css" )

		link( rel="shortcut icon" href="/favicon.gif" )
		unless currentPage.category === "errors"
			link( rel="canonical" href = site.domain + currentPage.url )
		link(
			rel="feed"
			href="/feed.xml"
			type="application/atom+xml"
			title="Cure For Nightmares atom feed"
		)

		//- Open Graph data
		meta( property="og:site_name" content="Cure For Nightmares" )
		meta( property="og:title" content = currentPage.title )
		meta( property="og:description" content != currentPage.blurb )
		meta( property="og:type" content="article" )
		meta( property="og:url" content = site.domain + currentPage.url )
		meta(
			property="article:published_time"
			content = moment( currentPage.date ).format( "YYYY-MM-DD" )
		)
		block openGraphThumbnail

	body
		header( id = headerType( currentPage ))
			p#website-title
				a( href="/" rel="home" )
					= site.title

			p#website-tagline= site.tagline

			figure#website-mark
				img( src="/icons/chromosome--white-with-shadow-on-glass.min.svg" alt="" )

		nav
			ul#top-level-nav
				li: a#toggle-meta About
				li: a#toggle-archive Archive

				//- "Posts" should be added to the breadcrumb link.
				if currentPage.date
					li#breadcrumb
						a( href = breadcrumbLink( currentPage ))
							| :: #{currentPage.category}

				li: a#toggle-search Search

				ul#meta-list
					each page in collections.meta
						if page === currentPage
							li.nav-current-page
								= page.title
						else
							li: a( href = page.url )
								= page.title

					each page in collections.archiveLists
						if page === currentPage
							li.nav-current-page
								= page.title
						else
							li: a( href = page.url )
								= page.title

				li
					form#search( action="https://duckduckgo.com/" method="post" )
						//- Use DuckDuckGo's dark theme.
						input( type="hidden" name="kae" value="d" )
						//- Turn off safe search. I don't want DDG to hide any "PG-13" rated results.
						input( type="hidden" name="kp" value="-1" )
						//- Search Cure For Nightmares.
						input( type="hidden" name="sites" value="curefornightmares.com" )
						label( for="search-bar" )
							img( src="/icons/magnifying-glass.min.svg" alt="Search" )
						input#search-bar( type="search" name="q" value="" )
						button#search-button( type="submit" title="search provided by DuckDuckGo" ) Go

		//- Archive list pages will list <article> excerpts inside a <main>
		//- container.
		if currentPage.category === "archive lists"
			main
				h1= currentPage.title
				block mainContent
		//- Pretty much everything else should just be an <article>.
		else
			article
				h1= currentPage.title
				block mainContent

		footer
			hr

			unless currentPage.license
				p Unless noted otherwise, all the works at 
					span( xmlns:dct="http://purl.org/dc/terms/" property="dct:title" ).
						Cure For Nightmares 
					| are made by 
					a(
						xmlns:cc="http://creativecommons.org/ns#"
						href = site.domain
						property="cc:attributionName"
						rel="cc:attributionURL author me"
					).
						Niccolo Florence
					| , and are published under a 
					a( rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" ).
						Creative Commons Attribution-ShareAlike 4.0
						International License
					| . 

					| Meaning basically that you’re #[em free] to copy, 
					| share, and remix these works, for any purpose, as long as 
					| you credit me as the source, and “share alike.” 
					strong.
						Any reposts or remixes of these works should attribute Niccolo Florence,
						and link back to #{site.domain}.

			address
				p: a( href = "mailto:" + niccolo.email ) Talk to me!

				#subscribe
					p Subscribe!

					ul
						p feeds/updates
						ul
							li: a( href="/feed.xml" title="Atom feed" rel="feed" )
								img( src="/icons/feed.min.svg" alt="Atom feed (works just like RSS)" )
							li: a(
									href="https://tinyletter.com/cure-for-nightmares"
									rel="sub"
									title="subscribe by email, with TinyLetter"
								)
									img( src="/icons/tinyletter.min.svg" alt="TinyLetter" )
							li: a(
									href="http://tapastic.com/series/cure-for-nightmares"
									rel="syndication"
									title="You can also read Cure For Nightmares on Tapastic."
								)
									img( src="/icons/tapastic.min.svg" alt="Tapastic" )

						p social/blogging
						ul
							li: a(
									href="https://andrew.tosk.in"
									rel="me"
									title="my blogfolio — part weblog, part design portfolio"
								)
									img( src="/icons/chromosome--color-on-glass.min.svg" alt="Andrew TOSKin blogfolio" )
							li: a(
									href="https://ello.co/andrewtoskin"
									rel="me"
									title="say Ello to me"
								)
									img( src="/icons/ello-white.min.svg" alt="Ello" )
							li: a(
									href="https://diasp.eu/u/andrewtoskin"
									rel="me"
									title="add me to an aspect on Diaspora"
								)
									img( src="/icons/diaspora.min.svg" alt="diaspora" )
							li: a(
									href="https://foxcoloredtrees.wordpress.com"
									rel="me"
									title="follow me on WordPress.com"
								)
									img( src="/icons/wordpress.min.svg" alt="WordPress.com" )
							li: a(
									href="https://plus.google.com/+AndrewToskin"
									rel="me"
									title="circle me on Google+"
								)
									img( src="/icons/google+.min.svg" alt="Google+" )
							li: a(
									href="https://flickr.com/photos/andrewtoskin/"
									rel="me"
									title="follow me on Flickr"
								)
									img( src="/icons/flickr.min.svg" alt="Flickr" )
							li: a(
									href="https://foxcoloredtrees.tumblr.com"
									rel="me"
									title="follow me on Tumblr"
								)
									img( src="/icons/tumblr.min.svg" alt="Tumblr" )
							li: a(
									href="https://www.facebook.com/andrew.toskin"
									rel="me"
									title="friend me on Facebook"
								)
									img( src="/icons/facebook.min.svg" alt="Facebook" )

						p works-in-progress and completed
						ul
							li: a(
									href="https://gitlab.com/terrycloth"
									rel="me"
									title="fork/remix my projects on GitLab"
								)
									img( src="/icons/gitlab.min.svg" alt="GitLab" )
							li: a(
									href="https://archive.org/details/@a_h_toskin"
									rel="me"
									title="see my work on the Internet Archive"
								)
									img( src="/icons/internet-archive.min.svg" alt="the Internet Archive" )

			p Some comics I like:

			ul#comics-i-like
				li: a(
						href="http://asofterworld.com/"
						title="A Softer World, by Joey Comeau and Emily Horne"
						rel="nofollow"
					)
						| A Softer World
				li: a(
						href="http://scarygoround.com/"
						title="Bad Machinery, by John Allison"
						rel="nofollow"
					)
						| Bad Machinery
				li: a(
						href="http://www.lunarbaboon.com/"
						title="Lunarbaboon, by Lunarbaboon"
						rel="nofollow"
					)
						| Lunarbaboon
				li: a(
						href="http://tapastic.com/series/BEAR"
						title="Bear, by Bianca Pinheiro"
						rel="nofollow"
					)
						| Bear
				li: a(
						href="http://tapastic.com/series/4"
						title="DaneMen, by David Daneman"
						rel="nofollow"
					)
						| DaneMen
				li: a(
						href="http://tapastic.com/series/Fail-by-Error"
						title="Fail by Error, by Min"
						rel="nofollow"
					)
						| Fail by Error
				li: a(
						href="http://campcomic.com/"
						title="Camp Weedonwantcha, by Katie Rice"
						rel="nofollow"
					)
						| Camp Weedonwantcha
				li: a(
						href="http://sufficientlyremarkable.com/"
						title="Sufficiently Remarkable, by Maki Naro"
						rel="nofollow"
					)
						| Sufficiently Remarkable
				li: a(
						href="http://existentialcomics.com/"
						title="Existential Comics"
						rel="nofollow"
					)
						| Existential Comics

	script( src="/scripts/ui.js" )
