extends /templates/posts.pug

//-
	---
	title: "Feeling 97 Again"
	date: "2013-07-15 13:15"
	license: "cc-share-alike"
	blurb: "…She told me walkers and oxygen tanks are temporary, but dignity is eternal."

	mediaHost:
		self: "https://media.curefornightmares.com/short-stories/feeling-97-again/"
		archive: "https://archive.org/download/Feeling-97-Again--by-NiccoloFlorence/"
	comic:
		basename: "feeling-97-again--"
		fragment: "full"
		number: 1
		extension: ".jpg"

	downloadURL:
		archive: "https://archive.org/details/Feeling-97-Again--by-NiccoloFlorence"
		gitlab: "https://gitlab.com/curefornightmares/feeling-97-again"
	---

block transcript
	section#transcript.
		She’s stuck heaving against a wrinkle  
		in the rug, groc’ry cart frame  
		with prison-bar rust,  
		single-serving wine  
		bottles and boxes  
		of frozen  
		“Pizza for  
		One.”
