extends /templates/posts.pug

//-
	---
	title: "Portraits At the Park"
	date: "2016-05-16 14:30"
	license: "cc-share-alike"
	blurb: "I had a very brief career busking as a caricature artist in the park."

	mediaHost:
		self: "https://media.curefornightmares.com/short-stories/portraits-at-the-park/"
		archive: "https://archive.org/download/portraits-at-the-park--by-niccolo-florence"
	comic:
		basename: "portraits-at-the-park--"
		fragment: "full"
		number: 1
		extension: ".jpg"

	# Full address to where users can download the source files for the current
	# post. (So it only applies to *posts*, not meta or archive pages.)
	downloadURL:
		archive: "https://archive.org/details/portraits-at-the-park--by-niccolo-florence"
		gitlab: "https://gitlab.com/curefornightmares/portraits-at-the-park"

	# Attributions to borrowed works in the Creative Commons.
	attributions:
		"Jorah Mormont":
			url: "https://www.flickr.com/photos/125169888@N07/"
			works:
				"Park 21": "https://www.flickr.com/photos/125169888@N07/15866241792/"
		"Lost and Taken":
			url: "http://lostandtaken.com"
			works:
				# Lost and Taken has apparently restructured their texture
				# files, so the original page where I got the paper texture no
				# longer exists, as far as I can tell.
				"Grunge Collage Paper": ""
		"Design Shard":
			url: "http://www.designshard.com/"
			works:
				"Fully Stained Paper Textures": "http://www.designshard.com/freebies/10-free-original-hi-res-fully-stained-paper-textures/"
	---

block transcript
	section#transcript.
		# Portraits At the Park
		by Niccolo Florence
		curefornightmares.com

		## A pretty girl sits on a bench under a gazebo in a park. She has one
		blue eye and one green eye. She, and especially the grass and trees in
		the background, have a messy texture resembling an oil painting. In the
		foreground, Niccolo stands at his easel, one hand stroking his chin,
		considering the crude, childish stick-figure painting he's working on: a
		portrait of the sitting girl.

			@Pretty girl

				> Are you done yet?
				I've been sitting here for like an hour.

			@Niccolo

				> Hmm...

			χ
